.step-bar-container {
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 24px;
    font-weight: bold;
}

.step {
    max-width: 80%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.step-content {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
}

.step-label {
    color: gray;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.step-label.current {
    color: limegreen;
}

.step-label.finished {
    color: limegreen;
}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
}

.step-circle.current {
    background-color: limegreen;
}

.step-circle.finished {
    background-color: limegreen;
}

.step-line {
    height: 3px;
    background-color: gray;
    position: relative;
    top: -15px;
    left: 50%;
    z-index: 0;
}

.step-line.finished {
    background-color: limegreen;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}