.step-bar-container {
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 24px;
    font-weight: bold;
    position: relative;
}

.step {
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-content {
    place-items: center;
    display: grid;
}

.step-label {
    color: gray;
    font-size: large;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1;
}

.step-label.current {
    color: limegreen;
}

.step-label.finished {
    color: limegreen;
}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.step-circle.current {
    background-color: transparent; /* アクティブな色 */
    border: 5px solid limegreen;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.step-circle.finished {
    background-color: limegreen;
}

.step-line {
    max-width: 240px;
    min-width: 30px;
    height: 5px;
    background-color: gray;
}

.step-line.finished {
    background-color: limegreen;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}