@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap');

.phase-page {
    background-color: rgb(226, 217, 203);
    font-family: 'M PLUS Rounded 1c';
    font-weight: 400;
    color: rgb(31, 30, 30);
}

.header-container {
    position: sticky;
    top: 0;
    height: 5dvh;
    min-height: 40px;
    background-color: cornflowerblue;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    align-items: center;
}

.header-wrapper {
    margin-top: 0.5dvh;
    display: flex;
}

.logo-svg {
    display: block;
    height: 4dvh;
    filter: brightness(0) saturate(100%) 
            invert(16%) sepia(96%)saturate(7359%) 
            hue-rotate(360deg) brightness(100%) contrast(112%);
}

.title {
    margin-left: 0.5dvw;
    margin-right: 0.5dvw;
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'M PLUS Rounded 1c';
    font-weight: 800;
    color: blueviolet;
}

.step-bar-container {
    position: sticky;
    top: 5dvh;
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: clamp(0.5rem, 1vh, 2rem);
    padding-bottom: clamp(0.5rem, 1vh, 2rem);
    font-weight: bold;
}

.step {
    max-width: 80%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.step-content {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
}

.step-label {
    color: gray;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.step-label.current {
    color: limegreen;
}

.step-label.finished {
    color: limegreen;
}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
}

.step-circle.current {
    background-color: limegreen;
}

.step-circle.finished {
    background-color: limegreen;
}

.step-line {
    height: 3px;
    background-color: gray;
    position: relative;
    top: -15px;
    left: 50%;
    z-index: 0;
}

.step-line.finished {
    background-color: limegreen;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.description-container {
    padding-left: 1%;
    padding-right: 1%;
    margin: 1rem;
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'M PLUS Rounded 1c';
    font-weight: 400;
}

.card-wrapper {
    min-height: 20dvh;
    display: flex;
    flex-direction: row;
    padding: 1% 2% 1% 2%;
    margin: 2rem;
    border-radius: 12px;
    border: 6rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.card-wrapper.instruction {
    background-color: bisque;
    border-color: rgb(236, 173, 95);
}

.card-wrapper.exercise {
    background-color: rgb(255, 174, 145);
    border-color: rgb(221, 92, 44);
}

.card-wrapper.feedback {
    background-color: blueviolet;
    border-color: rgb(100, 16, 179);
}

.text-item {
    flex: 1;
    margin: 1%;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.7;
    color: rgb(31, 30, 30);
}

.text-item h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    padding-bottom: 0.5em;
    font-weight: 800;
}

.text-item h2 {
    padding-bottom: 0.5em;
    font-weight: 600;
}

.text-item ul {
    list-style: disc;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.8em, 0;
}

.image-item {
    flex: 1;
    margin: 1%;
    max-width: 70%;
    max-height: 70dvh;
    object-fit: contain;
    align-self: center;
    cursor: zoom-in;
}

.image-modal-wrapper {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.7);
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: zoom-out;
}

.image-modal {
    max-width: 90dvw;
    max-height: 90dvh;
    object-fit: contain;
}

.exercise-item {
    flex: 1;
    margin: 1%;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 2rem);
    line-height: 1.7;
    color: rgb(31, 30, 30);
}

.question h1 {
    font-size: clamp(1.5rem, 2.5vw, 2.5rem);
    padding-bottom: 0.5em;
    font-weight: 800;
}

.question h2 {
    padding-bottom: 0.5em;
    font-weight: 600;
}

.question ul {
    list-style: disc;
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin: 0.8em, 0;
}

.question ul.question-choices {
    list-style: none;
}

.submit-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit-button {
    margin-bottom: 1%;
    padding: 0.5dvw 1dvw;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: 400;
    color: white;
    background-color: chocolate;
    border-radius: 15px;
}

.exercise-modal-background {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.7);
    inset: 0;
    z-index: 1;
}

.exercise-modal-wrapper {
    background-color: rgb(241, 241, 241);
    border: solid gray;
    padding: 2dvw;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    font-family: 'M PLUS Rounded 1c';
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 2rem);
    white-space: nowrap;
}

.exercise-modal-warning {
    display: flex;
    color: crimson;
    font-weight: 600;
    margin: 1%;

}

.exercise-modal-button {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 16px;
}

.exercise-modal-button button {
    flex: 1;
    min-width: 200px;
    padding: 12px 16px;
    font-size: 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
}

.button-yes {
    background-color: #4caf50;
    color: white;
    border: none;
}

.button-no {
    background-color: #e0e0e0;
    color: #333;
    border: none;
}


.footer-container {
    height: 5dvh;
    min-height: 40px;
    background-color: rgb(231, 231, 231);
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.phase-change-button {
    width: 60px;
    height: 80%;
    border-radius: 10px;
    background-color: cornflowerblue;
}

.phase-change-button:disabled {
    background-color: rgb(175, 175, 175);
}

.phase-page-index {
    padding-left: 1%;
    padding-right: 1%;
    margin: 1rem;
    font-size: clamp(1rem, 1vw, 2rem);
    font-family: 'M PLUS Rounded 1c';
    font-weight: 400;
    color: black;
}

@media (max-width: 767px) {
    .card-wrapper {
        flex-direction: column;
    }
}