@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap');

.header-container {
    height: 5dvh;
    min-height: 40px;
    background-color: cornflowerblue;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    align-items: center;
}

.header-wrapper {
    margin-top: 0.5dvh;
    display: flex;
}

.logo-svg {
    display: block;
    height: 4dvh;
    filter: brightness(0) saturate(100%) 
            invert(16%) sepia(96%)saturate(7359%) 
            hue-rotate(360deg) brightness(100%) contrast(112%);
}

.title {
    margin-left: 0.5dvw;
    margin-right: 0.5dvw;
    font-size: clamp(1rem, 2vw, 2rem);
    font-family: 'M PLUS Rounded 1c';
    font-weight: 800;
    color: blueviolet;
}

.step-bar-container {
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: clamp(0.5rem, 1vh, 2rem);
    padding-bottom: clamp(0.5rem, 1vh, 2rem);
    font-weight: bold;
}

.step {
    max-width: 80%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.step-content {
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
}

.step-label {
    color: gray;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.step-label.current {
    color: limegreen;
}

.step-label.finished {
    color: limegreen;
}

.step-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 1;
}

.step-circle.current {
    background-color: limegreen;
}

.step-circle.finished {
    background-color: limegreen;
}

.step-line {
    height: 3px;
    background-color: gray;
    position: relative;
    top: -15px;
    left: 50%;
    z-index: 0;
}

.step-line.finished {
    background-color: limegreen;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.description-container {
    padding-left: 1%;
    padding-right: 1%;
    margin: 1rem;
    font-size: clamp(1rem, 1vw, 2rem);
    font-family: 'M PLUS Rounded 1c';
    font-weight: 400;
}